/* write your css here */
@tailwind base;
@tailwind components;
@tailwind utilities;

.background{
    background: linear-gradient(111.93deg, rgba(14, 26, 45, 0.24) -1.4%, rgba(17, 30, 50, 0.38) 104.96%);
    backdrop-filter: blur(26px);
}

.ellipse{
    position: absolute;
width: 372.95px;
height: 257.05px;
left: calc(50% - 372.95px/2 - 76.53px);
top: calc(50% - 257.05px/2 - 47.47px);

/* Gradient/02 */

background: linear-gradient(123.77deg, #8A2BE2 -6.46%, #FFA500 59.04%, #F8F8FF 124.53%);
opacity: 0.2;
filter: blur(34px);
transform: matrix(1, 0, -0.03, 1, 0, 0);
z-index: -1;
}

.ellipse1{
    background: linear-gradient(118.19deg, #1FA2FF -3.62%, #12D8FA 50.44%, #A6FFCB 104.51%);
    position: absolute;
    width: 372.95px;
    height: 257.05px;
    left: calc(50% - 372.95px/2 - 76.53px);
    top: calc(50% - 257.05px/2 - 47.47px);
    
    /* Gradient/02 */
    
    
    opacity: 0.2;
    filter: blur(34px);
    transform: matrix(1, 0, -0.03, 1, 0, 0);
    z-index: -1;
}

.current-card-shadow{
    box-shadow: 12px 12px 0px 0px #FFD60A;
    

}


html,body{
    overflow-x: hidden;
}

.homepage_bg{
    background: url("../src/assets/Images/bghome.svg");
}